:root{
    --bgColor: #000814;
    --primary: #001D3D;
    --secondary: #003566;
    --primaryAccent: #FFC300;
    --primaryAccent: #FFD60A;
}

body{
    padding : 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    background-color: var(--bgColor);
}

.header {
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.info{
    padding-top: 5px;
}

.main-logo{
    color: var(--primaryAccent);
    padding: 5px;
    width: 600px;
    margin-top: 5px;
    margin-left: none;
    padding-bottom: 50px;

}
.main-logo svg{
    fill: var(--primaryAccent);
    height: 2.5rem;
}

.main-logo h1{
    display: inline;
    font-size: 2.8rem;
}

.header div{
    margin: 50px;
    margin-left: 0;
    color: var(--primaryAccent);
}

.controls button{
    margin: 10px;
    border: 1px solid var(--primaryAccent);
    color: var(--primaryAccent);
    padding: 5px 15px;
    font: 'Nunito';
    border-radius: 10px;
    font-weight: 600;
    
    cursor: pointer;
    background-color: var(--bgColor);
    transition: all;
    transition-duration: .2s;
}

.controls button:hover{
    background-color: var(--primaryAccent);
    color:var(--bgColor);
    border-color: var(--bgColor);
}

.word{
    display: inline-block;
    color: gray;
    font-size: larger;
    margin: 5px;
}

.words{
    filter: blur(4px);
}

.game{
    margin: auto;
    text-align: justify;
    width: 850px;
    line-height: 25px;
    height: 145px;
    overflow: hidden;
    position: relative;
}

#focus-error{
    position: absolute;
    inset: 0;
    text-align: center;
    color: white;
    margin-top: 40px;
    cursor: pointer;
}

.letter.correct{
    color: white;
}

.letter.incorrect{
    color: rgb(255, 59, 59);
}

.letter.extra-letter {
    font-weight: 600;
    color: rgb(163, 0, 0);
}

.cursor{
    display: none;
    width: 2px;
    height: 1.3rem;
    background: var(--primaryAccent);
    position: fixed;
    top: 325px;
    left: 140px;
    animation: blink 0.5s infinite;
}

.game:focus .words{
    filter: blur();
}

.game:focus #focus-error{
    display: none;
}



@keyframes blink {

    0%{
        opacity: 0;
    }

    50%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

